@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --white: white;
  --accentDark: #2abd67;
  --headerBg: #ececec;
  --asideBg: #f2f3f5;
  --todoListBg: #fefcfe;
  --deepRed: rgb(99, 3, 3);
}
.todo-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
/* Header section start */
header {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: var(--headerBg, #ececec);
  border-bottom: 3px solid var(--accentDark, #2abd67);
}
header .title {
  text-align: center;
}
header .title .title-icon {
  color: var(--accentDark, #2abd67);
}
header .hide-aside .fa-bars {
  margin-left: 10px;
  padding: 10px;
}
header .hide-aside .fa-bars:hover {
  background-color: var(--white, white);
  cursor: pointer;
}
header .theme-change {
  justify-self: end;
}
header .theme-change .fa-circle-half-stroke {
  margin-right: 10px;
  padding: 10px;
}
header .theme-change .fa-circle-half-stroke:hover {
  cursor: pointer;
}
/* Header section end */

/* Aside left sidebar section start */
aside {
  grid-column: 1/2;
  grid-row: 2/-1;
  background-color: var(--asideBg, #f2f3f5);
  padding: 10px;
}
.fixed-task h2,
.projects-list h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
.fixed-task-list div {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
}

.fixed-task-list .all-task > img,
.fixed-task-list .today-task > img,
.fixed-task-list .this-week-task > img,
.fixed-task-list .important-task > img {
  width: 10%;
}
.add-project-field {
  padding: 10px 10px;
}
.add-project-field .add-project-input {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.add-project-field .add-project-input input[type="text"] {
  padding: 10px;
  width: 100%;
}
.add-project-field .add-project-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.add-project-field .add-project-btn button {
  padding: 10px 15px;
  width: 100px;
  border: none;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.add-project-btn .btn-add {
  background-color: var(--accentDark);
}
.add-project-btn .btn-cancel {
  background-color: var(--deepRed);
}

.add-project .add-project-text {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  padding: 5px 10px;
}
.project-list > div {
  padding: 5px 10px;
}
.fixed-task-list div:hover,
.add-project-field:hover,
.add-project-text:hover,
.project-list > div:hover {
  background-color: #fefcfe;
}
/* Aside left sidebar section end */

/* All to do list section start */
.todo-list-section {
  grid-column: 2/-1;
  grid-row: 2/-1;
  background-color: var(--todoListBg, #fefcfe);
  padding: 0px 20px;
}
.todo-list-section h2 {
  background-color: var(--accentDark);
  padding: 30px;
  text-align: center;
  color: var(--white);
}
/* All to do list section end */
/* Todo add font and resize font ass section */
