@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --white: white;
  --accentDark: #2abd67;
  --headerBg: #ececec;
  --asideBg: #f2f3f5;
  --todoListBg: #fefcfe;
  --deepRed: rgb(99, 3, 3);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
.todo-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
/* Header section start */
header {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: var(--headerBg, #ececec);
  border-bottom: 3px solid var(--accentDark, #2abd67);
}
header .title {
  text-align: center;
}
header .title .title-icon {
  color: var(--accentDark, #2abd67);
}
header .hide-aside .fa-bars {
  margin-left: 10px;
  padding: 10px;
}
header .hide-aside .fa-bars:hover {
  background-color: var(--white, white);
  cursor: pointer;
}
header .theme-change {
  justify-self: end;
}
header .theme-change .fa-circle-half-stroke {
  margin-right: 10px;
  padding: 10px;
}
header .theme-change .fa-circle-half-stroke:hover {
  cursor: pointer;
}
/* Header section end */

/* Aside left sidebar section start */
aside {
  grid-column: 1/2;
  grid-row: 2/-1;
  background-color: var(--asideBg, #f2f3f5);
  padding: 10px;
}
.fixed-task h2,
.projects-list h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
.fixed-task-list div {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
}

.fixed-task-list .all-task > img,
.fixed-task-list .today-task > img,
.fixed-task-list .this-week-task > img,
.fixed-task-list .important-task > img {
  width: 10%;
}
.add-project-field {
  padding: 10px 10px;
}
.add-project-field .add-project-input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.add-project .project-input-field{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.add-project-field .add-project-input input[type="text"] {
  padding: 10px;
  width: 100%;
}
.add-project-field .add-project-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.add-project-field .add-project-btn button {
  padding: 10px 15px;
  width: 100px;
  border: none;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.add-project-btn .btn-add {
  background-color: var(--accentDark);
}
.add-project-btn .btn-cancel {
  background-color: var(--deepRed);
}

.add-project .add-project-text {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  padding: 5px 10px;
}
.project-list > div {
  padding: 5px 10px;
  margin:10px 0px;
  border: 1px solid var(--accentDark);
  border-radius: 1rem;
}
.fixed-task-list div:hover,
.add-project-field:hover,
.add-project-text:hover {
  background-color: #fefcfe;
  cursor: pointer;
}
/* Aside left sidebar section end */

/* All to do list section start */
.todo-list-section {
  grid-column: 2/-1;
  grid-row: 2/-1;
  background-color: var(--todoListBg, #fefcfe);
  padding: 0px 20px;
}
.todo-list-section h2 {
  background-color: var(--accentDark);
  padding: 30px;
  text-align: center;
  color: var(--white);
}
.project-active{
  background-color: var(--accentDark);
  color: white;
}
/* All to do list section end */
/* Todo add font and resize font ass section */
.hidden {
  display: none;
}
.todo-list-section .add-task {
  display: none;
  justify-content: space-between;
}
input[type="text"]:not(#input-project-name),
input[type="date"] {
  outline: none;
  border: none;
  border-bottom: 3px solid var(--accentDark);
}
.add-task .add-task-btn {
  background-color: var(--accentDark);
  border: none;
  padding: .25rem .5rem;
  color: var(--asideBg);
}
.add-task-btn:is(:hover, :focus) {
  cursor: pointer;
}

:is(.fa-pen-to-square, .fa-delete-left) {
  color: var(--accentDark);
}
.show-task-list {
  display: grid;
  gap: 10px;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
}
.show-task-list .todo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-task-list .todo-left-side {
  display: flex;
  align-items: center;
  gap: 10px;
}
.show-task-list .todo-right-side {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
.show-task-list .todo-right-side > button {
  background: none;
  border: 2px solid var(--accentDark);
  border-radius: 5px;
}
.todo-list-section #get-todo {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
:is(.edit-todo,.delete-todo){
  width: 36px;
  cursor: pointer;
}
#modal{
  top: 50%;
  left: 50%;
  width: 40rem;
  padding: 2rem 1rem 2rem 1rem;
  transform: translate(-50%, -50%);
  position: fixed;
  border: 1px solid var(--accentDark);
}
#modal::backdrop{
  background:  rgba(212.0, 241.0, 224.0, 0.9)	;
}
#modal__form{
  display: flex;
  justify-content: space-between;
}
.fixed-task .important-task{
  display: none;
}